@import '~src/styles/default/components.scss';

.wrap {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: $colorLightBlue;
  padding: 116px 0 0;
  transition: background-color .3s ease-in-out;
  &.dark {
    background-color: $colorBlogBack;
  }
  @include mq(pc) {
    padding: 162px 0 0;
  }
}