@import '~src/styles/default/components.scss';

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: vwSp(116) 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: auto;
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $colorLightBlue;
  z-index: -1;
}

.item {
  padding: vwSp(32) 0 0;
  text-align: center;
}
.anchor {
  position: relative;
  display: inline-block;
  font-size: vwSp(24);
  line-height: 1;
  font-weight: $weightExtraBold;
  letter-spacing: 0.1em;
  color: $colorMidBlue;
  &.current {
    color: black;
  }
  &.store {
    padding-right: vwSp(29.49);
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: vwSp(16);
      height: vwSp(16);
      background-image: url('/img/common/blank_mid.svg');
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateY(-60%);
    }
  }
}

.bottomList {
  padding-left: vwSp(64);
  padding-bottom: vwSp(69);
}
.bottomItem {
  padding-top: vwSp(24);
  &:first-child {
    padding-bottom: vwSp(24);
  }
}
.bottomAnchor {
  position: relative;
  display: inline-block;
  font-size: vwSp(16);
  line-height: 1;
  letter-spacing: 0.16em;
  &.sns {
    padding-right: vwSp(40);
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: vwSp(20);
      height: vwSp(20);
      background-image: url('/img/common/instagram.svg');
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateY(-52%);
    }
  }
}