@import '../config/variable.scss';

// media query
// sp : [sm]
// tab : [md]
// pc : [lg]
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin borderSquareFrame () {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: vwSp(16);
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $colorDarkBlue;
    border-radius: vwSp(24);
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: vwSp(6) solid $colorDarkBlue;
    background-color: white;
    border-radius: vwSp(24);
    z-index: -1;
  }
  @include mq(pc) {
    &::before {
      top: 16px;
      border-radius: 32px;
    }
    &::after {
      border-radius: 32px;
      border: 6px solid $colorDarkBlue;
    }
  }
}

@mixin borderCircleButton () {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: vwSp(8);
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: vwSp(60);
    border: vwSp(6) solid $colorDarkBlue;
    background-color: $colorDarkBlue;
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: vwSp(6) solid $colorDarkBlue;
    border-radius: vwSp(60);
    background-color: white;
    z-index: -1;
  }
  @include mq(pc) {
    &::before {
      top: 8px;
      border-radius: 60px;
      border: 6px solid $colorDarkBlue;
    }
    &::after {
      border: 6px solid $colorDarkBlue;
      border-radius: 60px;
    }
  }
}

@mixin borderSquareButton () {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: vwSp(8);
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: vwSp(24);
    border: vwSp(6) solid $colorDarkBlue;
    background-color: $colorDarkBlue;
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: vwSp(6) solid $colorDarkBlue;
    border-radius: vwSp(24);
    background-color: white;
    z-index: -1;
  }
  span {
    display: block;
    padding: vwSp(26) 0;
    text-align: center;
    font-size: vwSp(20);
    line-height: 1;
    font-weight: $weightBlack;
    letter-spacing: 0.08em;
  }
  @include mq(pc) {
    margin: 0 auto;
    &::before {
      top: 8px;
      border-radius: 24px;
      border: 6px solid $colorDarkBlue;
    }
    &::after {
      border: 6px solid $colorDarkBlue;
      border-radius: 24px;
    }
    span {
      padding: 26px 0;
      font-size: 20px;
    }
  }
}

@mixin titleBottomBorder () {
  position: relative;
  text-align: center;
  padding-bottom: vwSp(24);
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    width: vwSp(72);
    height: vwSp(4);
    border-radius: 30px;
    background-color: $colorDarkBlue;
  }
  @include mq(pc) {
    padding-bottom: 20px;
    &::before {
      width: 72px;
      height: 4px;
      border-radius: 30px;
    }
  }
}

@mixin mainPcStyle () {
  padding: 0 50px 40px;
  max-width: 1080px;
  margin: 0 auto;
}