@import '~src/styles/default/components.scss';

.main {
  position: relative;
  width: 100%;
  padding: 0 0 vwSp(48);
  @include mq(pc) {
    @include mainPcStyle();
  }
}

.title {
  @include titleBottomBorder();
  img {
    width: vwSp(104);
  }
  &::before {
    background-color: $colorBlogDark;
  }
  @include mq(pc) {
    img {
      width: 104px;
    }
  }
}

.cover {
  margin: vwSp(88) 0 0;
  img {
    width: 100%;
  }
  @include mq(pc) {
    margin: 80px 0 0;
  }
}

.body {
  position: relative;
  width: 100%;
  margin-top: vwSp(-16);
  padding: 0 vwSp($paddingSpSide) 0;
  @include mq(pc) {
    margin-top: -16px;
    padding: 0 36px 0;
  }
}

.heading {
  padding: vwSp(32);
  background-color: white;
  border-radius: vwSp(16);
  @include mq(pc) {
    padding: 40px 90px;
    border-radius: 16px;
  }
}
.tagList {
  display: flex;
}
.tagItem {
  padding: vwSp(4) vwSp(12);
  border-radius: vwSp(40);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: vwSp(8);
  span {
    display: inline-block;
    color: white;
    font-size: vwSp(10);
    font-weight: $weightExtraBold;
    line-height: 1;
    letter-spacing: 0.1em;
  }
  @include mq(pc) {
    padding: 4px 12px;
    border-radius: 40px;
    margin-right: 8px;
    span {
      font-size: 10px;
    }
  }
}
.blogTitle {
  padding: vwSp(16) 0 0;
  font-size: vwSp(20);
  font-weight: $weightExtraBold;
  line-height: 1.6;
  letter-spacing: 0.08em;
  @include mq(pc) {
    padding: 16px 0 0;
    font-size: 20px;
  }
}

.desc {
  padding: vwSp(32) vwSp(32) vwSp(40);
  background-color: white;
  border-radius: vwSp(16);
  margin: vwSp(20) 0 0;
  @include mq(pc) {
    padding: 40px 54px;
    border-radius: 16px;
  }
}

.desc__member {
  display: flex;
  align-items: center;
}
.desc__memberImg {
  width: vwSp(32);
  flex-shrink: 0;
  @include mq(pc) {
    width: 32px;
  }
}
.desc__memberText {
  display: flex;
  flex-direction: column;
  margin-left: vwSp(24);
  span {
    font-size: vwSp(10);
    line-height: 1.6;
    letter-spacing: 0.1em;
    &:first-child {
      font-weight: $weightExtraBold;
    }
  }
  @include mq(pc) {
    margin-left: 24px;
    span {
      font-size: 10px;
    }
  }
}

.content {
  padding: vwSp(40) 0 0;
  h1, h2, h3, h4, h5, h6 {
    font-size: vwSp(18);
    line-height: 1.6;
    letter-spacing: 0.08em;
    font-weight: $weightExtraBold;
  }
  strong {
    font-weight: $weightExtraBold;
  }
  img {
    width: 100%;
  }
  p {
    font-size: vwSp(16);
    line-height: 1.76;
    letter-spacing: 0.08em;
  }
  iframe {
    width: 100%;
    height: auto;
  }
  a {
    color: $colorDarkBlue;
    text-decoration: underline;
  }
  ol {
    counter-reset: numberCounter;
    li {
      &::before {
        counter-increment: numberCounter;
        content: counter(numberCounter)'.';
        display: inline-block;
        padding-right: 8px;
      }
    }
  }
  ul {
    li {
      &::before {
        content: '・';
        display: inline-block;
        padding-right: 8px;
      }
    }
  }
  @include mq(pc) {
    padding: 40px 0 0;
    h1, h2, h3, h4, h5, h6 {
      font-size: 18px;
    }
    p {
      font-size: 16px;
    }
  }
}


.backWrap {
  margin: vwSp(40) 0 0;
  padding: 0 vwSp($paddingSpSide) 0;
  @include mq(pc) {
    margin: 0;
    padding: 0;
  }
}
.back {
  @include borderSquareButton();
  &::before  {
    border-color: $colorBlogDark;
    background-color: $colorBlogDark;
  }
  &::after {
    border-color: $colorBlogDark;
  }
  @include mq(pc) {
    width: 352px;
    margin: 40px auto 0;
  }
}