@import '~src/styles/default/components.scss';

.main {
  position: relative;
  width: 100%;
  padding: 0 vwSp($paddingSpSide) vwSp(48);
  @include mq(pc) {
    @include mainPcStyle();
  }
}

.title {
  @include titleBottomBorder();
  img {
    width: vwSp(104);
  }
  &::before {
    background-color: $colorBlogDark;
  }
  @include mq(pc) {
    img {
      width: 104px;
    }
  }
}

.body {
  position: relative;
  margin: vwSp(88) 0 0;
  width: 100%;
  @include mq(pc) {
    margin: 80px 0 0;
  }
}

.list {
  position: relative;
  @include mq(pc) {
    display: flex;
  }
}
.item {
  &+& {
    padding: vwSp(20) 0 0;
  }
  @include mq(pc) {
    width: 352px;
    margin-left: 12px;
    &+& {
      padding: 0;
    }
    &:first-child {
      margin: 0;
    }
    &:nth-of-type(3n) {
      margin: 0;
    }
  }
}
.itemInner {
  padding: vwSp(16) vwSp(16) vwSp(24);
  background-color: white;
  border-radius: vwSp(16);
  @include mq(pc) {
    padding: 16px 16px 24px;
    border-radius: 16px;
  }
}
.img {
  overflow: hidden;
  border-radius: vwSp(8);
  @include mq(pc) {
    border-radius: 8px;
  }
}
.tagList {
  padding: vwSp(20) 0;
  display: flex;
  @include mq(pc) {
    padding: 24px 0 16px;
  }
}
.tagItem {
  padding: vwSp(4) vwSp(12);
  border-radius: vwSp(40);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: vwSp(8);
  span {
    display: inline-block;
    color: white;
    font-size: vwSp(10);
    font-weight: $weightExtraBold;
    line-height: 1;
    letter-spacing: 0.1em;
  }
  @include mq(pc) {
    padding: 4px 12px;
    border-radius: 40px;
    margin-right: 8px;
    span {
      font-size: 10px;
    }
  }
}
.itemTitle {
  font-size: vwSp(20);
  font-weight: $weightExtraBold;
  line-height: 1.6;
  letter-spacing: 0.08em;
  @include mq(pc) {
    font-size: 20px;
  }
}

.back {
  margin: vwSp(40) 0 0;
  @include borderSquareButton();
}