@import '~src/styles/default/components.scss';

.main {
  position: relative;
  width: 100%;
  padding: 0 0 vwSp(48);
  @include mq(pc) {
    @include mainPcStyle();
  }
}

.title {
  @include titleBottomBorder();
  img {
    width: vwSp(212);
  }
  @include mq(pc) {
    img {
      width: 212px;
    }
  }
}

.cover {
  margin: vwSp(88) 0 0;
  img {
    width: 100%;
  }
  &.movie {
    height: vwSp(236);
  }
  @include mq(pc) {
    margin: 80px 0 0;
    &.movie {
      height: 508px;
    }
  }
}

.body {
  position: relative;
  width: 100%;
  padding: vwSp(24) vwSp($paddingSpSide) 0;
  @include mq(pc) {
    padding: 28px 0 0;
  }
}

.heading {
  padding: vwSp(32) vwSp(32) vwSp(36);
  background-color: white;
  border-radius: vwSp(16);
  @include mq(pc) {
    padding: 40px 90px;
    border-radius: 16px;
  }
}
.tagList {
  display: flex;
}
.tagItem {
  padding: vwSp(4) vwSp(12);
  border-radius: vwSp(40);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: vwSp(8);
  span {
    display: inline-block;
    color: white;
    font-size: vwSp(10);
    font-weight: $weightExtraBold;
    line-height: 1;
    letter-spacing: 0.1em;
  }
  @include mq(pc) {
    padding: 4px 12px;
    border-radius: 40px;
    margin-right: 8px;
    span {
      font-size: 10px;
    }
  }
}
.workTitle {
  padding: vwSp(16) 0 0;
  font-size: vwSp(20);
  font-weight: $weightExtraBold;
  line-height: 1.6;
  letter-spacing: 0.08em;
  @include mq(pc) {
    padding: 16px 0 0;
    font-size: 20px;
  }
}

.desc {
  padding: vwSp(32);
  background-color: white;
  border-radius: vwSp(16);
  margin: vwSp(20) 0 0;
  @include mq(pc) {
    padding: 40px 90px;
    border-radius: 16px;
    margin: 20px 0 0;
  }
}

.desc__title {
  font-size: vwSp(24);
  line-height: 1;
  font-weight: $weightBlack;
  letter-spacing: 0.1em;
  padding: 0 0 vwSp(24);
  @include mq(pc) {
    font-size: 24px;
    padding: 0 0 16px;
  }
}
.desc__text {
  font-size: vwSp(16);
  line-height: 1.6;
  letter-spacing: 0.08em;
  font-weight: $weightExtraBold;
  @include mq(pc) {
    font-size: 16px;
  }
}
.desc__link {
  padding: vwSp(48) 0 0;
  @include mq(pc) {
    padding: 52px 0 0;
  }
}
.desc__anchor {
  position: relative;
  font-size: vwSp(16);
  line-height: 1.6;
  color: $colorDarkBlue;
  font-weight: $weightExtraBold;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $colorDarkBlue;
  }
  @include mq(pc) {
    font-size: 16px;
  }
}

.credit {
  padding: vwSp(32);
  background-color: white;
  border-radius: vwSp(16);
  margin: vwSp(20) 0 0;
  @include mq(pc) {
    padding: 40px 90px;
    margin: 20px 0 0;
    border-radius: 16px;
  }
}
.credit__title {
  font-size: vwSp(24);
  line-height: 1;
  font-weight: $weightBlack;
  letter-spacing: 0.08em;
  padding: 0 0 vwSp(24);
  @include mq(pc) {
    font-size: 24px;
    padding: 0 0 16px;
  }
}
.credit__item {
  &+& {
    padding: vwSp(18) 0 0;
  }
  @include mq(pc) {
    &+& {
      padding: 18px 0 0;
    }
  }
}
.credit__role {
  font-size: vwSp(16);
  line-height: 1.6;
  font-weight: $weightExtraBold;
  letter-spacing: 0.08em;
  @include mq(pc) {
    font-size: 16px;
  }
}
.credit__name {
  font-size: vwSp(16);
  line-height: 1.6;
  letter-spacing: 0.08em;
  @include mq(pc) {
    font-size: 16px;
  }
}

.backWrap {
  margin: vwSp(40) 0 0;
  padding: 0 vwSp($paddingSpSide) 0;
  @include mq(pc) {
    margin: 0;
    padding: 0;
  }
}
.back {
  @include borderSquareButton();
  @include mq(pc) {
    width: 352px;
    margin: 40px auto 0;
  }
}